{% extends "layout.html" %}

{% block title %}
chai aur tweet 
{% endblock title %}

{% block content %}

<h1 class="text-centre mt-4">
    Welcome to World
</h1>
<h2>
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button.btn.btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">Back to 
</h2>
{% endblock content %}
